<!-- head -->

<!-- content -->


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Privacy Policy</title>
  <meta name="title" content="TheJUJARI- Privacy Policy">
  <meta name="description" content="TheJUJARI- Privacy Policy">
  <meta name="keywords" content="TheJUJARI- Privacy Policy">
  <script src="../page-not-found.html"></script>
  <script src="../lib/mini-program.js"></script>
  <script src="../recaptcha/api.js?render=6Lcu3zcnAAAAABp-6-Z4txaYgu4-BMUY2fAXhTt5"></script>
  <style type="text/css">
    @font-face {
      font-family: "Avenir Book";
      src: url("../font/AvenirLT45-Book.ttf");
      font-display: fallback;
    }

    @font-face {
      font-family: "Avenir Black";
      src: url("../font/AvenirLTPro-Black.ttf");
      font-display: fallback;
    }
  </style>
  <!-- style 有字体文件不能跨域 -->
  <link rel="stylesheet" href="../font/icon/style.css?v=2024030402">
  <link rel="stylesheet" href="../dist/site/index.css?v=2024030402">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1369280940101297');
    fbq('track', 'PageView');
  </script>
  <noscript>
    < img height="1" width="1" src="https://www.facebook.com/tr?id=1369280940101297&ev=PageView
    &noscript=1" />
  </noscript>

  <!-- End Facebook Pixel Code -->
  <!-- Twitter conversion tracking base code -->
  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = 'https://static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    twq('config', 'ofnt5');
  </script>
  <!-- End Twitter conversion tracking base code -->
  <!-- Snap Pixel Code -->
  <script type='text/javascript'>
    (function (e, t, n) {
      if (e.snaptr) return; var a = e.snaptr = function () { a.handleRequest ? a.handleRequest.apply(a, arguments) : a.queue.push(arguments) };
      a.queue = []; var s = 'script'; r = t.createElement(s); r.async = !0;
      r.src = n; var u = t.getElementsByTagName(s)[0];
      u.parentNode.insertBefore(r, u);
    })(window, document,
      'https://sc-static.net/scevent.min.js');
  </script>
  <!-- End Snap Pixel Code -->
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KN7L7QK');</script>
  <!-- End Google Tag Manager -->
  <!--Omnisend -->
  <script type="text/javascript">
    window.omnisend = window.omnisend || [];
    omnisend.push(["accountID", "60a4d316916f9c001dc42819"]);
    omnisend.push(["track", "$pageViewed"]);
    !function () { var e = document.createElement("script"); e.type = "text/javascript", e.async = !0, e.src = "https://omnisnippet1.com/inshop/launcher-v2.js"; var t = document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t) }();
  </script>
  <style type="text/css">
    .article-breadcrumb {
      display: none;
    }

    .page-article {
      padding: .4rem .5067rem;
    }

    .article-title {
      line-height: .72rem;
      font-family: SourceHanSansSCBold;
      font-size: .48rem;
      color: #333;
    }

    .article-content {
      margin-top: .2667rem;
      font-size: initial;
    }

    .article-content strong {
      font-weight: bold;
    }

    .article-content iframe {
      width: 100% !important;
      height: calc((100vw - 0.96rem) * 9 / 16) !important;
    }

    @media screen and (min-width: 1280px) {
      .article-breadcrumb {
        display: block;
        padding: 38px 25px 26px;
        border-bottom: 1px solid #ddd;
      }

      .page-article {
        margin: 0 auto;
        max-width: 1440px;
        padding: 20px 45px;
      }

      .article-title {
        line-height: 40px;
        font-size: 28px;
      }

      .article-content {
        margin-top: 30px;
      }

      .article-content iframe {
        width: 1080px !important;
        height: 608px !important;
      }
    }
  </style>
</head>

<body>
  <header id="header" class="site-header" :class="{ 'with-ad': viewAd }">
    <div ref="site_ad" id="site_ad" class="header-ad" v-show="viewAd">
      <dynamic-marquee class="header-marquee" direction="row" :reverse="true" :repeat="false">
        Free shipping for orders over KES1500. Any other questions? Contact us at Care.ke@the-jujari.com
      </dynamic-marquee>
      <a href="javascript:;" @click="closeAd">
        <span class="icon icon-quit"></span>
      </a>
    </div>
    <div class="header-main" @mouseleave="handleMainMouseleave">
      <div class="header-content">
        <a class="header-logo" href="../index.htm">
          <img alt="TheJUJARIlogo"
            src="../https://i.postimg.cc/y65M33J5/Screenshot-2024-03-05-161008-removebg-preview.png">
        </a>
        <div class="header-category-container" :class="{ show: viewCategory }" v-touch:swipe.right="toggleCategory">
          <div class="header-category-header">
            <div>
              <a href="javascript:;" class="header-category" @click="toggleCategory()">
                <span class="icon icon-quit"></span>
              </a>
              <a class="header-logo" href="../index.htm">
                <img alt="TheJUJARIlogo"
                  src="../https://i.postimg.cc/y65M33J5/Screenshot-2024-03-05-161008-removebg-preview.png">
              </a>
            </div>
          </div>
          <ul class="mobile-user-center" :style="{ display: viewMobileUserCenter ? 'block' : 'none' }">
            <li>
              <span v-if="username">My Account</span>
              <a v-else="" href="../auth/sign-in.html"><span>Sign in</span></a>
            </li>
            <li><span>Transaction Management</span></li>
            <li><a href="../user/order.html">My Order</a></li>
            <li><span>Account</span></li>
            <li><a href="../user/person.html">Personal Information</a></li>
            <li><a href="../user/wishlist.html">My Wish</a></li>
            <li><a href="../user/point.html">My Explorer Points</a></li>
            <li><a href="../user/address.html">Address Management</a></li>
            <li><a href="../user/review.html">Product Reviews</a></li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1"><span>Affiliate</span></li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/user.html">My account</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/order.html">Order</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/cash-flow.html">Income Details</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/withdraw.html">Withdraw</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/activity-list.html">User Events</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/subordinate.html">Referral Performance</a>
            </li>
            <li v-show="username"><button type="button" @click="handleSignout">Sign out</button></li>
          </ul>
          <nav class="header-nav" v-show="!viewMobileUserCenter">
            <ul class="header-nav-top">
              <li>
                <a href="../index.htm"><span>Home</span></a>
              </li>
              <li>
                <a href="../oraimo-daily-deals.html"><span>Daily Deals</span></a>
              </li>
              <li>
                <a href="javascript:void()" class="sub" :class="{ show: viewSubNav === 'PRODUCT-155' }"
                  @click="toggleSubNav('PRODUCT-155')"><span>Products</span></a>
                <div class="header-nav-container">
                  <ul class="header-nav-sub" :class="{ show: viewSubNav === 'PRODUCT-155' }">
                    <li>
                      <a href="../collections/power.html" class="suber header-nav-link">Power</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Power' }"
                        @click="toggleSuberNav('Power')"></a>
                      <a class="header-nav-image" href="../collections/power.html">
                        <img alt="Power" src="../2024/02/22/OPB-P300Q.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Power' }">
                        <li>
                          <a href="../collections/power-banks.html">Power Banks
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wall-chargers.html">Wall Chargers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/solar-generators.html">Solar Generators
                          </a>
                        </li>
                        <li>
                          <a href="../collections/power-strips.html">Power Strips
                          </a>
                        </li>
                        <li>
                          <a href="../collections/car-chargers.html">Car Chargers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/cables.html">Cables
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/audio.html" class="suber header-nav-link">Audio</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Audio' }"
                        @click="toggleSuberNav('Audio')"></a>
                      <a class="header-nav-image" href="../collections/audio.html">
                        <img alt="Audio" src="../2024/02/22/OEB-E105D-URANOLITHGREY.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Audio' }">
                        <li>
                          <a href="../collections/wireless-stereo-earbuds.html">Wireless Stereo Earbuds
                            <span class="hot-cat-tag">HOT</span>
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wireless-neckband-headphones.html">Wireless Neckband Headphones
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wireless-over-ear-headphones.html">Wireless Over-Ear Headphones
                          </a>
                        </li>
                        <li>
                          <a href="../collections/open-ear-headphones.html">Open-Ear Headphones
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wireless-speakers.html">Wireless Speakers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wired-earphones.html">Wired Earphones
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/smart-office.html" class="suber header-nav-link">Smart &amp; Office</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Smart &amp; Office' }"
                        @click="toggleSuberNav('Smart &amp; Office')"></a>
                      <a class="header-nav-image" href="../collections/smart-office.html">
                        <img alt="Smart &amp; Office" src="../2024/02/22/OSW-810.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Smart &amp; Office' }">
                        <li>
                          <a href="../collections/smart-watches.html">Smart Watches
                          </a>
                        </li>
                        <li>
                          <a href="../collections/smart-lighting.html">Smart Lighting
                          </a>
                        </li>
                        <li>
                          <a href="../collections/smart-scales.html">Smart Scales
                          </a>
                        </li>
                        <li>
                          <a href="../collections/mouse-keyboards.html">Mouse &amp; Keyboards
                          </a>
                        </li>
                        <li>
                          <a href="../collections/camera-accessories.html">Camera Accessories
                          </a>
                        </li>
                        <li>
                          <a href="../collections/backpacks.html">Backpacks
                          </a>
                        </li>
                        <li>
                          <a href="../collections/mi-fi.html">Mi-Fi
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/personal-care.html" class="suber header-nav-link">Personal Care</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Personal Care' }"
                        @click="toggleSuberNav('Personal Care')"></a>
                      <a class="header-nav-image" href="../collections/personal-care.html">
                        <img alt="Personal Care" src="../2024/02/22/OPC-CL30.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Personal Care' }">
                        <li>
                          <a href="../collections/grooming-series.html">Grooming Series
                          </a>
                        </li>
                        <li>
                          <a href="../collections/oral-care.html">Oral Care
                          </a>
                        </li>
                        <li>
                          <a href="../collections/mirrors.html">Mirrors
                          </a>
                        </li>
                        <li>
                          <a href="../collections/hair-dryers.html">Hair Dryers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/hair-styling-tools.html">Hair Styling Tools
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/home-appliances.html" class="suber header-nav-link">Home Appliances</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Home Appliances' }"
                        @click="toggleSuberNav('Home Appliances')"></a>
                      <a class="header-nav-image" href="../collections/home-appliances.html">
                        <img alt="Home Appliances" src="../2024/02/22/OSV-102.jpg">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Home Appliances' }">
                        <li>
                          <a href="../collections/vacuums.html">Vacuums
                          </a>
                        </li>
                        <li>
                          <a href="../collections/e-bike.html">E-bike
                          </a>
                        </li>
                        <li>
                          <a href="../collections/blenders.html">Blenders
                          </a>
                        </li>
                        <li>
                          <a href="../collections/humidifiers.html">Humidifiers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/electric-kettles.html">Electric Kettles
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="javascript:void()" class="sub" :class="{ show: viewSubNav === 'SUPPORT-181' }"
                  @click="toggleSubNav('SUPPORT-181')"><span>Support</span></a>
                <div class="header-support-container" :class="{ show: viewSubNav === 'SUPPORT-181' }">
                  <a href="track-order.html" class="header-support-item">
                    <span>Track Order</span>
                    <img alt="Track Order" src="../images/s1.png">
                  </a>
                  <a href="../ke/index.htm" class="header-support-item">
                    <span>Visit Carlcare</span>
                    <img alt="Visit Carlcare" src="../images/s2.png">
                  </a>
                </div>
              </li>
              <li>
                <a href="#" class="sub" :class="{ show: viewSubNav === 'SUPPORT-809' }"
                  @click="toggleSubNav('SUPPORT-809')"><span>Hot &amp; New</span></a>
                <div class="header-support-container" :class="{ show: viewSubNav === 'SUPPORT-809' }">
                  <a href="../best-seller.html" class="header-support-item">
                    <span>Best Seller</span>
                  </a>
                  <a href="../new-arrival.html" class="header-support-item">
                    <span>New Arrival</span>
                  </a>
                </div>
              </li>
              <!-- <li class="header-nav-currency">
      <a
        href="javascript:;"
        class="sub flex-box"
        :class="{ show: viewSubNav === 'currency' }"
        @click="toggleSubNav('currency')"
      >
        <span>CURRENCY TYPE</span>
        <span>
          <img class="currency-icon" alt="KES" src="https://ke.oraimo.com/img/KES.png" />
          <span>KES</span>
        </span>
      </a>
      <div class="header-currency-container" :class="{ show: viewSubNav === 'currency' }">
                <button
                    class="current"
                    @click="changeCurrency('KES')"
        >
          <img alt="KES" src="https://ke.oraimo.com/img/JOD.png" />
          <span>KES</span>
        </button>
                <button
                    @click="changeCurrency('USD')"
        >
          <img alt="USD" src="https://ke.oraimo.com/img/JOD.png" />
          <span>USD</span>
        </button>
              </div>
    </li> -->
            </ul>
          </nav>
        </div>
        <div>
          <!-- <div class="header-link-box dropmenu" @mouseenter="viewSearch = false">
          <a href="javascript:;" class="header-link">
            <img class="currency-icon" alt="KES" src="https://ke.oraimo.com/img/KES.png" />
            <span>KES</span>
          </a>
          <ul class="desktop-currency-container">
                        <li>
              <a
                href="javascript:;"
                                class="current"
                                @click="changeCurrency('KES')"
              >
                <img alt="KES" src="https://ke.oraimo.com/img/KES.png" />
                <span>KES</span>
              </a>
            </li>
                        <li>
              <a
                href="javascript:;"
                                @click="changeCurrency('USD')"
              >
                <img alt="USD" src="https://ke.oraimo.com/img/USD.png" />
                <span>USD</span>
              </a>
            </li>
                      </ul>
        </div> -->
          <a class="header-link" href="javascript:;" @click="viewSearch = true" @mouseenter="viewSearch = true">
            <img alt="" src="../img/icon-search.svg">
          </a>
          <a class="header-link" href="javascript:;" @click="viewCart = true" @mouseenter="handleCartMouseenter">
            <img alt="" src="../img/icon-cart.svg">
            <i id="site_cart_num" class="site-cart-num"><span></span></i>
          </a>
          <div class="header-link-box">
            <a class="header-link" href="javascript:;" @click="handleUserClick" @mouseenter="handleUserMouseenter">
              <img alt="" src="../img/icon-user.svg">
            </a>
            <ul class="desktop-user-center" :style="{ display: viewPCUserCenter ? 'block' : 'none'}">
              <li>
                <span v-if="username">{{ username }}</span>
                <a v-else="" href="../auth/sign-in.html">Sign in</a>
              </li>
              <li><a href="../user/order.html">My Order</a></li>
              <li><a href="../user/person.html">Personal Information</a></li>
              <li><a href="../user/wishlist.html">My Wish</a></li>
              <li><a href="../user/point.html">My Explorer Points</a></li>
              <li><a href="../user/address.html">Address Management</a></li>
              <li><a href="../user/review.html">Product Reviews</a></li>
              <li v-show="username"><a href="javascript:;" @click="handleSignout">Sign out</a></li>
            </ul>
          </div>
          <a href="javascript:;" class="header-link header-link-category" @click="toggleCategory()">
            <img alt="" src="../img/icon-category.svg">
          </a>
        </div>
      </div>
      <v-search :view="viewSearch" @close="viewSearch = false"></v-search>
      <v-cart :view="viewCart" @close="viewCart = false"></v-cart>
    </div>
  </header>

  <div>
    <div class="article-breadcrumb">
      <ul class="site-breadcrumb">
        <li>
          <a href="../index.htm">Home</a>
        </li>
        <li>
          <a href="javascript:;">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <main class="page-article">
      <h2 class="article-title">Privacy Policy</h2>
      <div class="article-content">
        <h1
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; text-align: center;">
          <span style="font-size: 18pt;">ORAIMO Privacy Policy</span>
        </h1>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br>Effective date: 11/15/2020<br><br>This Privacy Policy applies to certain information, as defined below,
          that ORAIMO Technology Ltd, and its affiliates (&ldquo;ORAIMO,&rdquo; &ldquo;our,&rdquo; &ldquo;we&rdquo; or
          &ldquo;us&rdquo;) collects through our websites, products, and applications (the
          &ldquo;<strong>Services</strong>&rdquo;).<br><br><strong>YOUR PRIVACY IS IMPORTANT TO US. PLEASE READ THIS
            PRIVACY POLICY TO LEARN ABOUT THE INFORMATION THAT ORAIMO COLLECTS FROM YOU AND HOW ORAIMO USES THAT
            INFORMATION.</strong><br><br><strong>BY USING THE SERVICES YOU CONSENT TO THE COLLECTION, USE, AND TRANSFER
            OF YOUR INFORMATION AS DESCRIBED IN THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH ANY PART OF THIS PRIVACY
            POLICY, THEN PLEASE DO NOT USE THE SERVICES.</strong><br><br><br>What information do we
          collect?<br><br><br>Information Provided by Users
        </p>
        <ul style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <li><strong>Your Account information:</strong>You provide your email, or log in for a third-party account
            (like Facebook), to create an online or application account (&ldquo;Account&rdquo;) or subscribe to our
            communications. If you refuse to provide such information, you may not be able to use the Services properly.
            When creating your Account, you may be asked to enter certain information, such as: your name, avatar, age,
            gender, address, telephone number and email address.</li>
          <li><strong>Payment information; Third-Party Payment Processor:</strong>We use a third-party payment processor
            (currently Paypal) to assist in securely processing your personally identifiable payment information. When
            you place an order through the Services, the credit card information that you provide is encrypted and
            transmitted directly to Paypal. We do not store your credit card information and do not control and are not
            responsible for Paypal or its collection or use of your information. You may find out more about how Paypal
            stores and uses your credit card information by accessing Paypal&rsquo;s privacy policy.</li>
          <li><strong>Customer Support:</strong>When you contact us, you can provide us with information about your use
            of the Services, including information about the ORAIMO electronics and/or consumer products
            (&ldquo;Products&rdquo;) that you own and contact details, so that we can provide customer support. For
            example, you can send an email to Customer Support that contains information about our Roav Dash Cam
            performance, and other issues.</li>
        </ul>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br><br><strong>Product Usage Information</strong>
        </p>
        <ul style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <li>Product monitoring: We collect information about how you set up and use our Products, such as: functions
            used; operations performed; time, frequency, and duration of your activities within the Services, and any
            unique identifiers associated with your Product. For example, we collect the time period you connected the
            Product to the Application and the time of the last connection, as well as what operations you used in the
            Account, settings, and other functions in our Products.</li>
          <li>Services utilization: We collect information that our Products store and report as a part of the Services,
            such as: when you use oraimo's Smart Scale, your weight, temperature, blood pressure, body mass index, and
            other health indicators. Also, when you schedule the use of our Products, such as TheJUJARITempo-W smart
            watch, we will save your settings.</li>
        </ul>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          &nbsp;</p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <strong>Device and Other Automatically Collected Information</strong>
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          &nbsp;</p>
        <ul style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <li><strong>Device properties and operations:</strong>We collect certain information from and about your
            smartphone, tablet, or personal computer (&ldquo;Device&rdquo;), such as: Device number, model, hardware and
            software version, signal intensity, Internet Protocol (IP) addresses, and other information. We also collect
            information about the operations you perform on the Device, such as time, frequency, and duration of use.
          </li>
          <li><strong>Device signals:</strong>We collect information that your Device sends out or receives to tailor
            the Services to our users in different regions, such as: geo-location, IP addresses, and external hardware
            information from your Device about surrounding Wi-Fi access points, beacons, and cell towers. You can enable
            and disable communicating such information to us by adjusting your Device security and privacy settings.
          </li>
          <li><strong>Server logs:</strong>A server log is a list of the activities that a server performs.
            ORAIMO&rsquo;s servers automatically collect and store in server logs certain information, such as: your
            search queries, IP addresses, hardware settings, browser type, browser language, the date and time of your
            request, referral URL, and certain cookies that identify your browser or Account.</li>
          <li><strong>Web beacons:</strong>A web beacon (also called a pixel tag or clear GIF) is computer code that
            communicates information from your Device to a server. Some of ORAIMO&rsquo;s Services and communications
            may contain embedded web beacons that allow a server to read certain types of information from your Device,
            such as: the number of people who have viewed certain content, when you opened an email message, and your
            Device IP address. Web beacons help ORAIMO develop statistical information to provide better and more
            personalized content.</li>
          <li><strong>Cookies:</strong>Cookies are small text files that are sent to or accessed from your web browser
            or your computer&rsquo;s hard drive. A cookie typically contains the name of the domain (internet location)
            from which the cookie originated, the &ldquo;lifetime&rdquo; of the cookie (i.e., when it expires) and a
            randomly generated unique number or similar identifier. A cookie also may contain information about Device,
            such as: user settings, browsing history, and activities conducted while using the Services.</li>
        </ul>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Our Services use the following cookies:</strong>
        </p>
        <ul style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <li>Strictly necessary cookies, which are required for the operation of the Services. Without them, for
            example, you would not be able to use your Account.</li>
          <li>Analytical/performance cookies, which allow ORAIMO to recognize and count the number of visitors, learn
            how visitors navigate the Services, and improve the Services.</li>
          <li>Functionality cookies, which ORAIMO uses to recognize you when you return to the Services.</li>
        </ul>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;To learn more about cookies and web beacons, visit www.allaboutcookies.org.
        </p>
        <ul style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <li>Analytics services: ORAIMO also uses analytics services, such as Google Analytics, to collect and analyze
            your information. Generally analytics services do not identify individual users. Many analytics services
            allow you to opt out of data collection. For example, to learn more about Google Analytics practices and to
            opt out, visit www.google.com/settings/ads or by downloading the Google Analytics opt-out browser add-on at
            https://tools.google.com/dlpage/gaoptout.</li>
        </ul>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <strong>Do Not Track Disclosure</strong>
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br>Unless legally required, we do not commit to honoring "Do Not Track" signals in your browser because
          honoring it would prevent much of the tracking and disclosures described in this Privacy
          Policy.<br><br><strong>Third-Party Information</strong>
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br>We collect and use information obtained from Facebook, Google and other accounts you use to login to the
          Services (&ldquo;Third-Party Accounts&rdquo;), such as: your name, your user name or handle, birth date,
          picture, and other details you may have on your Third-Party Account profile. We do not have access to your
          Third-Party Account passwords.<br><br><br><strong>What do we use your information for?</strong>
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <strong>Any of the information we collect from you may be used in one of the following ways:</strong>
        </p>
        <ul style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <li><strong>To process transactions:</strong>We use your information to process payments you make through the
            Services.</li>
          <li><strong>To send periodic emails:</strong>The email address you provide for order processing or for your
            Account may be used to send you information and updates pertaining to your order, in addition to receiving
            occasional company news, updates, related Product or Services information, including sending you updates to
            our terms and policies and other important messages from time to time. We may also send you marketing and
            promotional communications we believe might be relevant to your interests.</li>
          <li><strong>Our service:</strong>We operate and provide services, including providing customer support and
            improving, repairing, and customizing the Services. We use your information to understand how people use and
            to evaluate and improve the Services. Furthermore, we use your information to research, develop, and test
            new services, Products, and features, as well as perform troubleshooting activities. We also use your
            information to respond to you when you contact us. We use cookies to operate, provide, improve, understand,
            and customize the Services.</li>
          <li><strong>Security and privacy:</strong>We use your information to verify Account details and activity. We
            also use your information to promote the security and privacy of the Services, such as investigating
            suspicious activities or violations of our terms.</li>
          <li><strong>Advertising and business information:</strong>We may show advertisements to you and others for our
            Products and third-party products based on the information we have collected from you, such as: what you
            have installed, accessed, used, and purchased.</li>
          <li><strong>Accessing Third-Party Accounts:</strong>We use your information, including Third-Party Account
            information, to permit your Products and the Services to access Third-Party Accounts. These Third-Party
            Accounts may allow you to share personal information through our Services, such as Facebook posts or
            pictures. Because this kind of information can be public, you should exercise care in what you choose to
            submit to Third-Party Accounts. Please adjust your Third-Party Account privacy settings appropriately.</li>
        </ul>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <strong>How is this information shared?</strong>
        </p>
        <ul style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <li><strong>Third-party providers:</strong>We share your information with third-party providers that we work
            with to help us operate, provide, analyze, improve, understand, customize, support, and market the Services.
          </li>
          <li><strong>Third-party services:</strong>When you use third-party services, such as through Third-Party
            Accounts that integrate with the Products and Services, they may receive your information. When you use
            third-party services, their own terms and privacy policies will apply to your use of these services.</li>
          <li><strong>Regulatory and legal issues:</strong>We may also release your information to third parties when we
            believe it is appropriate to comply with the law, enforce our terms and policies, or protect ours or
            others&rsquo; rights, property, or safety.</li>
        </ul>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br><strong>How do we protect your information?</strong><br>We implement a variety of security measures to
          maintain the safety of your information when you place an order or enter, submit, or access your information.
          We offer the use of a secure server. All supplied personally identifiable payment information is transmitted
          via Secure Socket Layer (SSL) technology. After a transaction, your credit card information will not be stored
          on our servers.
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br><strong>How can you manage information about you, including your Account?</strong><br>We provide you with
          the ability to review, manage, or delete your information.
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br><strong>Third-Party Links</strong><br>Occasionally, at our discretion, we may include links to third-party
          websites on our Services. These third-party websites have separate and independent privacy policies. Please
          use these third-party websites with caution. We have no responsibility or liability for the content and
          activities of these linked websites.<br><br><br><strong>Changes to our Privacy Policy</strong><br>ORAIMO
          reserves the right to revise and update this Privacy Policy from time to time. All changes are effective
          immediately when we post them, as dated above, and apply to the Services thereafter. Your continued use of the
          Services after the time the changes are posted will indicate your acceptance of those revised changes, so
          please check this Privacy Policy periodically for updates.<br><br><strong>How can you contact ORAIMO
            Technology Ltd with questions?</strong><br>If you have any questions or concerns, there are a few ways you
          can contact us.<br><br>Email Us:<br><a href="mailto:care.ke@the-jujari.com" target="_blank"
            rel="noopener">Care.ke@the-jujari.com</a>
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          &nbsp;</p>
      </div>
    </main>
  </div>

  <script>
    var JS_DEFAULT_CURRENCY = 'KES';
    var JS_CURRENT_CURRENCY = 'KES';
    var JS_CURRENCY_GROUP = { "KES": { "exchange_rate": 1, "round_type": 1, "round_type_name": "round", "symbol": "KES", "unit_amount": 1, "precision": 0, "calc_precision": 0 }, "USD": { "exchange_rate": 0.00668, "round_type": 1, "round_type_name": "round", "symbol": "$", "unit_amount": 0.01, "precision": 2, "calc_precision": 2 } };
    var JS_CURRENCY_SORT = ["KES", "USD"];

    var JS_DEFAULT_LANGUAGE = 'en';
    var JS_CURRENT_LANGUAGE = 'en';
    var JS_LANGUAGE_GROUP = { "en": { "name": "English", "direction": "ltr" } };
    var JS_LANGUAGE_SORT = ["en"];

    var JS_ELAPSED = 0.020701;
    var IMAGE_URL = 'https://cdn-img.oraimo.com/';

    var GOOGLE_RECAPTCHA = '6Lcu3zcnAAAAABp-6-Z4txaYgu4-BMUY2fAXhTt5';
    var SOCIALITE = { "facebook": { "clientId": "1623446278157561", "redirectUri": "https:\/\/ke.oraimo.com\/api\/socialite\/callback\/facebook" }, "google": { "clientId": "274681318019-l7hdt0o4k63m2trilun79ipf22ggb52d.apps.googleusercontent.com", "redirectUri": "https:\/\/ke.oraimo.com\/api\/socialite\/callback\/google" } };
  </script>

  <footer id="footer" class="site-footer">
    <div class="footer-follow-us">
      <h4>FOLLOW US</h4>
      <a href="https://www.instagram.com/oraimo.kenya/">
        <span class="icon icon-instagram"></span>
      </a>
      <a href="https://www.facebook.com/oraimoKenya">
        <span class="icon icon-facebook"></span>
      </a>
      <a href="https://www.youtube.com/user/OraimoMate">
        <span class="icon icon-youtube"></span>
      </a>
      <a href="https://twitter.com/oraimokenya">
        <span class="icon icon-twitter"></span>
      </a>
    </div>
    <div class="footer-container">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-0' }" @click="toggleNav('nav-0')">Customer
            Service:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="#" class="footer-nav-link">Service Hours</a>
              <p class="footer-nav-text">Monday - Friday 9AM to 6PM</p>
            </li>
            <li>
              <a href="#" class="footer-nav-link">Customer Service</a>
              <p class="footer-nav-text">Phone: +0721 899 999</p>
              <p class="footer-nav-text">Whatsapp: 0728 810 810 / 0797 288 388</p>
              <p class="footer-nav-text">Email: Care.ke@the-jujari.com</p>
            </li>
          </ul>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-1' }" @click="toggleNav('nav-1')">About
            oraimo:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="about-oraimo.html" class="footer-nav-link">About Us</a>
            </li>
            <li>
              <a href="where-to-buy.html" class="footer-nav-link">Where to Buy</a>
            </li>
            <li>
              <a href="contact-us.html" class="footer-nav-link">Contact Us</a>
            </li>
          </ul>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-2' }" @click="toggleNav('nav-2')">Terms:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="oraimo-warranty.html" class="footer-nav-link">Warranty</a>
            </li>
            <li>
              <a href="shipping-%26-delivery-policy.html" class="footer-nav-link">Shipping &amp; Delivery</a>
            </li>
            <li>
              <a href="return-refund-policy.html" class="footer-nav-link">Return &amp; Refund Policy</a>
            </li>
            <li>
              <a href="terms-of-service.html" class="footer-nav-link">Terms &amp; Conditions</a>
            </li>
            <li>
              <a href="privacy-policy.html" class="footer-nav-link">Privacy Policy</a>
            </li>
          </ul>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-3' }" @click="toggleNav('nav-3')">Get Help:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="track-order.html" class="footer-nav-link">Track Order</a>
            </li>
            <li>
              <a href="visit-carlcare.html" class="footer-nav-link">Visit Carlcare</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <img alt="araimo Logo" src="../img/logo2.png">
      <p>© 2013-2024 TheJUJARICopyright.</p>
    </div>
    <button class="footer-backtotop" @click="handleBackToTop" :class="{ show: viewBackToTop }">
      <svg viewbox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
        <path d="M52 91.35V20.111l26.651 27.046 5.698-5.615L48.001 4.65l-36.35 36.892 5.698 5.615L44 20.111V91.35z"
          fill="white"></path>
      </svg>
    </button>
  </footer>


  <script src="../lib/vue.js"></script>
  <script src="../lib/axios.js"></script>
  <script src="../lib/vue-lazyload.js"></script>
  <script>Vue.use(VueLazyload)</script>
  <script src="../lib/vue-i18n.js"></script>
  <script src="../dist/site/index.js?v=2024030402"></script>


</body>

</html>