<!-- head -->

<!-- content -->


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Terms of service</title>
  <meta name="title" content="TheJUJARI- Terms of service">
  <meta name="description" content="TheJUJARI- Terms of service">
  <meta name="keywords" content="TheJUJARI- Terms of service">
  <script src="../page-not-found.html"></script>
  <script src="../lib/mini-program.js"></script>
  <script src="../recaptcha/api.js?render=6Lcu3zcnAAAAABp-6-Z4txaYgu4-BMUY2fAXhTt5"></script>
  <style type="text/css">
    @font-face {
      font-family: "Avenir Book";
      src: url("../font/AvenirLT45-Book.ttf");
      font-display: fallback;
    }

    @font-face {
      font-family: "Avenir Black";
      src: url("../font/AvenirLTPro-Black.ttf");
      font-display: fallback;
    }
  </style>
  <!-- style 有字体文件不能跨域 -->
  <link rel="stylesheet" href="../font/icon/style.css?v=2024030402">
  <link rel="stylesheet" href="../dist/site/index.css?v=2024030402">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1369280940101297');
    fbq('track', 'PageView');
  </script>
  <noscript>
    < img height="1" width="1" src="https://www.facebook.com/tr?id=1369280940101297&ev=PageView
    &noscript=1" />
  </noscript>

  <!-- End Facebook Pixel Code -->
  <!-- Twitter conversion tracking base code -->
  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = 'https://static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    twq('config', 'ofnt5');
  </script>
  <!-- End Twitter conversion tracking base code -->
  <!-- Snap Pixel Code -->
  <script type='text/javascript'>
    (function (e, t, n) {
      if (e.snaptr) return; var a = e.snaptr = function () { a.handleRequest ? a.handleRequest.apply(a, arguments) : a.queue.push(arguments) };
      a.queue = []; var s = 'script'; r = t.createElement(s); r.async = !0;
      r.src = n; var u = t.getElementsByTagName(s)[0];
      u.parentNode.insertBefore(r, u);
    })(window, document,
      'https://sc-static.net/scevent.min.js');
  </script>
  <!-- End Snap Pixel Code -->
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KN7L7QK');</script>
  <!-- End Google Tag Manager -->
  <!--Omnisend -->
  <script type="text/javascript">
    window.omnisend = window.omnisend || [];
    omnisend.push(["accountID", "60a4d316916f9c001dc42819"]);
    omnisend.push(["track", "$pageViewed"]);
    !function () { var e = document.createElement("script"); e.type = "text/javascript", e.async = !0, e.src = "https://omnisnippet1.com/inshop/launcher-v2.js"; var t = document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t) }();
  </script>
  <style type="text/css">
    .article-breadcrumb {
      display: none;
    }

    .page-article {
      padding: .4rem .5067rem;
    }

    .article-title {
      line-height: .72rem;
      font-family: SourceHanSansSCBold;
      font-size: .48rem;
      color: #333;
    }

    .article-content {
      margin-top: .2667rem;
      font-size: initial;
    }

    .article-content strong {
      font-weight: bold;
    }

    .article-content iframe {
      width: 100% !important;
      height: calc((100vw - 0.96rem) * 9 / 16) !important;
    }

    @media screen and (min-width: 1280px) {
      .article-breadcrumb {
        display: block;
        padding: 38px 25px 26px;
        border-bottom: 1px solid #ddd;
      }

      .page-article {
        margin: 0 auto;
        max-width: 1440px;
        padding: 20px 45px;
      }

      .article-title {
        line-height: 40px;
        font-size: 28px;
      }

      .article-content {
        margin-top: 30px;
      }

      .article-content iframe {
        width: 1080px !important;
        height: 608px !important;
      }
    }
  </style>
</head>

<body>
  <header id="header" class="site-header" :class="{ 'with-ad': viewAd }">
    <div ref="site_ad" id="site_ad" class="header-ad" v-show="viewAd">
      <dynamic-marquee class="header-marquee" direction="row" :reverse="true" :repeat="false">
        Free shipping for orders over KES1500. Any other questions? Contact us at Care.ke@the-jujari.com
      </dynamic-marquee>
      <a href="javascript:;" @click="closeAd">
        <span class="icon icon-quit"></span>
      </a>
    </div>
    <div class="header-main" @mouseleave="handleMainMouseleave">
      <div class="header-content">
        <a class="header-logo" href="../index.htm">
          <img alt="TheJUJARIlogo"
            src="../https://i.postimg.cc/y65M33J5/Screenshot-2024-03-05-161008-removebg-preview.png">
        </a>
        <div class="header-category-container" :class="{ show: viewCategory }" v-touch:swipe.right="toggleCategory">
          <div class="header-category-header">
            <div>
              <a href="javascript:;" class="header-category" @click="toggleCategory()">
                <span class="icon icon-quit"></span>
              </a>
              <a class="header-logo" href="../index.htm">
                <img alt="TheJUJARIlogo"
                  src="../https://i.postimg.cc/y65M33J5/Screenshot-2024-03-05-161008-removebg-preview.png">
              </a>
            </div>
          </div>
          <ul class="mobile-user-center" :style="{ display: viewMobileUserCenter ? 'block' : 'none' }">
            <li>
              <span v-if="username">My Account</span>
              <a v-else="" href="../auth/sign-in.html"><span>Sign in</span></a>
            </li>
            <li><span>Transaction Management</span></li>
            <li><a href="../user/order.html">My Order</a></li>
            <li><span>Account</span></li>
            <li><a href="../user/person.html">Personal Information</a></li>
            <li><a href="../user/wishlist.html">My Wish</a></li>
            <li><a href="../user/point.html">My Explorer Points</a></li>
            <li><a href="../user/address.html">Address Management</a></li>
            <li><a href="../user/review.html">Product Reviews</a></li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1"><span>Affiliate</span></li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/user.html">My account</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/order.html">Order</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/cash-flow.html">Income Details</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/withdraw.html">Withdraw</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/activity-list.html">User Events</a>
            </li>
            <li v-if="affiliateActiveStatus === 1 && verifyStatus.audit_status === 1">
              <a href="../affiliate/subordinate.html">Referral Performance</a>
            </li>
            <li v-show="username"><button type="button" @click="handleSignout">Sign out</button></li>
          </ul>
          <nav class="header-nav" v-show="!viewMobileUserCenter">
            <ul class="header-nav-top">
              <li>
                <a href="../index.htm"><span>Home</span></a>
              </li>
              <li>
                <a href="../oraimo-daily-deals.html"><span>Daily Deals</span></a>
              </li>
              <li>
                <a href="javascript:void()" class="sub" :class="{ show: viewSubNav === 'PRODUCT-155' }"
                  @click="toggleSubNav('PRODUCT-155')"><span>Products</span></a>
                <div class="header-nav-container">
                  <ul class="header-nav-sub" :class="{ show: viewSubNav === 'PRODUCT-155' }">
                    <li>
                      <a href="../collections/power.html" class="suber header-nav-link">Power</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Power' }"
                        @click="toggleSuberNav('Power')"></a>
                      <a class="header-nav-image" href="../collections/power.html">
                        <img alt="Power" src="../2024/02/22/OPB-P300Q.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Power' }">
                        <li>
                          <a href="../collections/power-banks.html">Power Banks
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wall-chargers.html">Wall Chargers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/solar-generators.html">Solar Generators
                          </a>
                        </li>
                        <li>
                          <a href="../collections/power-strips.html">Power Strips
                          </a>
                        </li>
                        <li>
                          <a href="../collections/car-chargers.html">Car Chargers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/cables.html">Cables
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/audio.html" class="suber header-nav-link">Audio</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Audio' }"
                        @click="toggleSuberNav('Audio')"></a>
                      <a class="header-nav-image" href="../collections/audio.html">
                        <img alt="Audio" src="../2024/02/22/OEB-E105D-URANOLITHGREY.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Audio' }">
                        <li>
                          <a href="../collections/wireless-stereo-earbuds.html">Wireless Stereo Earbuds
                            <span class="hot-cat-tag">HOT</span>
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wireless-neckband-headphones.html">Wireless Neckband Headphones
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wireless-over-ear-headphones.html">Wireless Over-Ear Headphones
                          </a>
                        </li>
                        <li>
                          <a href="../collections/open-ear-headphones.html">Open-Ear Headphones
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wireless-speakers.html">Wireless Speakers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/wired-earphones.html">Wired Earphones
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/smart-office.html" class="suber header-nav-link">Smart &amp; Office</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Smart &amp; Office' }"
                        @click="toggleSuberNav('Smart &amp; Office')"></a>
                      <a class="header-nav-image" href="../collections/smart-office.html">
                        <img alt="Smart &amp; Office" src="../2024/02/22/OSW-810.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Smart &amp; Office' }">
                        <li>
                          <a href="../collections/smart-watches.html">Smart Watches
                          </a>
                        </li>
                        <li>
                          <a href="../collections/smart-lighting.html">Smart Lighting
                          </a>
                        </li>
                        <li>
                          <a href="../collections/smart-scales.html">Smart Scales
                          </a>
                        </li>
                        <li>
                          <a href="../collections/mouse-keyboards.html">Mouse &amp; Keyboards
                          </a>
                        </li>
                        <li>
                          <a href="../collections/camera-accessories.html">Camera Accessories
                          </a>
                        </li>
                        <li>
                          <a href="../collections/backpacks.html">Backpacks
                          </a>
                        </li>
                        <li>
                          <a href="../collections/mi-fi.html">Mi-Fi
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/personal-care.html" class="suber header-nav-link">Personal Care</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Personal Care' }"
                        @click="toggleSuberNav('Personal Care')"></a>
                      <a class="header-nav-image" href="../collections/personal-care.html">
                        <img alt="Personal Care" src="../2024/02/22/OPC-CL30.png">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Personal Care' }">
                        <li>
                          <a href="../collections/grooming-series.html">Grooming Series
                          </a>
                        </li>
                        <li>
                          <a href="../collections/oral-care.html">Oral Care
                          </a>
                        </li>
                        <li>
                          <a href="../collections/mirrors.html">Mirrors
                          </a>
                        </li>
                        <li>
                          <a href="../collections/hair-dryers.html">Hair Dryers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/hair-styling-tools.html">Hair Styling Tools
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="../collections/home-appliances.html" class="suber header-nav-link">Home Appliances</a>
                      <a href="javascript:;" :class="{ show: viewSuberNav === 'Home Appliances' }"
                        @click="toggleSuberNav('Home Appliances')"></a>
                      <a class="header-nav-image" href="../collections/home-appliances.html">
                        <img alt="Home Appliances" src="../2024/02/22/OSV-102.jpg">
                      </a>
                      <ul class="header-nav-suber" :class="{ show: viewSuberNav === 'Home Appliances' }">
                        <li>
                          <a href="../collections/vacuums.html">Vacuums
                          </a>
                        </li>
                        <li>
                          <a href="../collections/e-bike.html">E-bike
                          </a>
                        </li>
                        <li>
                          <a href="../collections/blenders.html">Blenders
                          </a>
                        </li>
                        <li>
                          <a href="../collections/humidifiers.html">Humidifiers
                          </a>
                        </li>
                        <li>
                          <a href="../collections/electric-kettles.html">Electric Kettles
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="javascript:void()" class="sub" :class="{ show: viewSubNav === 'SUPPORT-181' }"
                  @click="toggleSubNav('SUPPORT-181')"><span>Support</span></a>
                <div class="header-support-container" :class="{ show: viewSubNav === 'SUPPORT-181' }">
                  <a href="track-order.html" class="header-support-item">
                    <span>Track Order</span>
                    <img alt="Track Order" src="../images/s1.png">
                  </a>
                  <a href="../ke/index.htm" class="header-support-item">
                    <span>Visit Carlcare</span>
                    <img alt="Visit Carlcare" src="../images/s2.png">
                  </a>
                </div>
              </li>
              <li>
                <a href="#" class="sub" :class="{ show: viewSubNav === 'SUPPORT-809' }"
                  @click="toggleSubNav('SUPPORT-809')"><span>Hot &amp; New</span></a>
                <div class="header-support-container" :class="{ show: viewSubNav === 'SUPPORT-809' }">
                  <a href="../best-seller.html" class="header-support-item">
                    <span>Best Seller</span>
                  </a>
                  <a href="../new-arrival.html" class="header-support-item">
                    <span>New Arrival</span>
                  </a>
                </div>
              </li>
              <!-- <li class="header-nav-currency">
      <a
        href="javascript:;"
        class="sub flex-box"
        :class="{ show: viewSubNav === 'currency' }"
        @click="toggleSubNav('currency')"
      >
        <span>CURRENCY TYPE</span>
        <span>
          <img class="currency-icon" alt="KES" src="https://ke.oraimo.com/img/KES.png" />
          <span>KES</span>
        </span>
      </a>
      <div class="header-currency-container" :class="{ show: viewSubNav === 'currency' }">
                <button
                    class="current"
                    @click="changeCurrency('KES')"
        >
          <img alt="KES" src="https://ke.oraimo.com/img/JOD.png" />
          <span>KES</span>
        </button>
                <button
                    @click="changeCurrency('USD')"
        >
          <img alt="USD" src="https://ke.oraimo.com/img/JOD.png" />
          <span>USD</span>
        </button>
              </div>
    </li> -->
            </ul>
          </nav>
        </div>
        <div>
          <!-- <div class="header-link-box dropmenu" @mouseenter="viewSearch = false">
          <a href="javascript:;" class="header-link">
            <img class="currency-icon" alt="KES" src="https://ke.oraimo.com/img/KES.png" />
            <span>KES</span>
          </a>
          <ul class="desktop-currency-container">
                        <li>
              <a
                href="javascript:;"
                                class="current"
                                @click="changeCurrency('KES')"
              >
                <img alt="KES" src="https://ke.oraimo.com/img/KES.png" />
                <span>KES</span>
              </a>
            </li>
                        <li>
              <a
                href="javascript:;"
                                @click="changeCurrency('USD')"
              >
                <img alt="USD" src="https://ke.oraimo.com/img/USD.png" />
                <span>USD</span>
              </a>
            </li>
                      </ul>
        </div> -->
          <a class="header-link" href="javascript:;" @click="viewSearch = true" @mouseenter="viewSearch = true">
            <img alt="" src="../img/icon-search.svg">
          </a>
          <a class="header-link" href="javascript:;" @click="viewCart = true" @mouseenter="handleCartMouseenter">
            <img alt="" src="../img/icon-cart.svg">
            <i id="site_cart_num" class="site-cart-num"><span></span></i>
          </a>
          <div class="header-link-box">
            <a class="header-link" href="javascript:;" @click="handleUserClick" @mouseenter="handleUserMouseenter">
              <img alt="" src="../img/icon-user.svg">
            </a>
            <ul class="desktop-user-center" :style="{ display: viewPCUserCenter ? 'block' : 'none'}">
              <li>
                <span v-if="username">{{ username }}</span>
                <a v-else="" href="../auth/sign-in.html">Sign in</a>
              </li>
              <li><a href="../user/order.html">My Order</a></li>
              <li><a href="../user/person.html">Personal Information</a></li>
              <li><a href="../user/wishlist.html">My Wish</a></li>
              <li><a href="../user/point.html">My Explorer Points</a></li>
              <li><a href="../user/address.html">Address Management</a></li>
              <li><a href="../user/review.html">Product Reviews</a></li>
              <li v-show="username"><a href="javascript:;" @click="handleSignout">Sign out</a></li>
            </ul>
          </div>
          <a href="javascript:;" class="header-link header-link-category" @click="toggleCategory()">
            <img alt="" src="../img/icon-category.svg">
          </a>
        </div>
      </div>
      <v-search :view="viewSearch" @close="viewSearch = false"></v-search>
      <v-cart :view="viewCart" @close="viewCart = false"></v-cart>
    </div>
  </header>

  <div>
    <div class="article-breadcrumb">
      <ul class="site-breadcrumb">
        <li>
          <a href="../index.htm">Home</a>
        </li>
        <li>
          <a href="javascript:;">Terms of service</a>
        </li>
      </ul>
    </div>
    <main class="page-article">
      <h2 class="article-title">Terms of service</h2>
      <div class="article-content">
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <strong>Last Updated: May 10</strong><strong>, 2021</strong>
        </p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          Welcome to ke.oraimo.com. We provide services to you subject to the notices, terms, and conditions set forth
          in this agreement (the "Agreement"). In addition, when you use any ke.oraimo.com service (e.g. placing an
          order or writing a customer review), you will be subject to the rules, guidelines, policies, terms, and
          conditions applicable to such services, and they are incorporated into this Agreement by this reference.
          ke.oraimo.com reserves the right to change this site and these terms and conditions at any
          time.<br><br><br>Accessing, browsing, or otherwise using the site indicates your agreement to all the terms
          and conditions in this Agreement. Please read this Agreement carefully before proceeding.<br><br><br>You
          represent and warrant that you are at least 18 years old or visiting the Site under the supervision of a
          parent or guardian. Subject to the terms and conditions of this Agreement, ke.oraimo.com hereby grants you a
          limited, revocable, non-transferable and non-exclusive license to access and use the Site by displaying it on
          your internet browser only for the purpose of shopping for personal items sold on the Site and not for any
          commercial use or use on behalf of any third party, except as explicitly permitted by ke.oraimo.com in
          advance. Any breach of this Agreement shall result in the immediate revocation of the license granted in this
          paragraph without notice to you.<br><br><br>Except as permitted in the paragraph above, you may not reproduce,
          distribute, display, sell, lease, transmit, create derivative works from, translate, modify, reverse-engineer,
          disassemble, decompile or otherwise exploit this Site or any portion of it unless expressly permitted by
          ke.oraimo.com in writing. You may not make any commercial use of any of the information provided on the Site
          or make any use of the Site for the benefit of another business unless explicitly permitted by ke.oraimo.com
          in advance. ke.oraimo.com reserves the right to refuse service, terminate accounts, and/or cancel orders in
          its discretion, including, without limitation, if ke.oraimo.com believes that customer conduct violates
          applicable law or is harmful to ke.oraimo.com's interests.<br><br><br>You shall not upload to, distribute, or
          otherwise publish through this Site any Content, information, or other material that (a) violates or infringes
          the copyrights, patents, trademarks, service marks, trade secrets, or other proprietary rights of any person;
          (b) is libelous, threatening, defamatory, obscene, indecent, pornographic, or could give rise to any civil or
          criminal liability under U.S. or international law; or (c) includes any bugs, viruses, worms, trap doors,
          Trojan horses or other harmful code or properties. ke.oraimo.com may assign you a password and account
          identification to enable you to access and use certain portions of this Site. Each time you use a password or
          identification, you will be deemed to be authorized to access and use the Site in a manner consistent with the
          terms and conditions of this Agreement, and ke.oraimo.com has no obligation to investigate the authorization
          or source of any such access or use of the Site.<br><br><br>You will be solely responsible for all access to
          and use of this site by anyone using the password and identification originally assigned to you whether or not
          such access to and use of this site is actually authorized by you, including without limitation, all
          communications and transmissions and all obligations (including, without limitation, financial obligations)
          incurred through such access or use. You are solely responsible for protecting the security and
          confidentiality of the password and identification assigned to you. You shall immediately notify ke.oraimo.com
          of any unauthorized use of your password or identification or any other breach or threatened breach of this
          Site's security. After registering, you will receive our newsletters with information about sales, coupons,
          and special promotions. You can unsubscribe by using the link from any email newsletter or your personal
          subscribe setting after logged in. Default Subscription for Newsletter for Registered Users.<br><br><br>ORAIMO
          User Account<br><br><br>You warrant that your Submissions, in whole or in part, are clear and free of any IP
          right infringement, disputes or third party claims. ke.oraimo.com assumes no liability for any misuse of
          copyright or any other rights of third parties by you. You undertake to defense for and indemnify the Sponsor
          against any losses caused due to the use of the entries for any purposes.<br><br><br>Reviews and
          Comments<br><br><br>Except as otherwise provided elsewhere in this Agreement or on the site, anything that you
          submit or post to the site and/or provide ke.oraimo.com, including, without limitation, ideas, know-how,
          techniques, questions, reviews, comments, and suggestions (collectively, "Submissions") is and will be treated
          as non-confidential and nonproprietary, and by submitting or posting, you agree to irrevocably license the
          entry and all IP rights related thereto (excluding the moral rights such as authorship right) to ke.oraimo.com
          without charge and ke.oraimo.com shall have the royalty-free, worldwide, perpetual, irrevocable, and
          transferable right to use, copy, distribute, display, publish, perform, sell, lease, transmit, adapt, create
          derivative works from such Submissions by any means and in any form, and to translate, modify,
          reverse-engineer, disassemble, or decompile such Submissions. All Submissions shall automatically become the
          sole and exclusive property of ke.oraimo.com and shall not be returned to you and you agree not to raise any
          dispute in connection with any use of the entry by ke.oraimo.com in the future.<br><br><br>You warrant that
          your Submissions, in whole or in part, are clear and free of any IP right infringement, disputes or third
          party claims. ke.oraimo.com assumes no liability for any misuse of copyright or any other rights of third
          parties by you. You undertake to defense for and indemnify the Sponsor against any losses caused due to the
          use of the entries for any purposes.<br><br><br>In addition to the rights applicable to any Submission, when
          you post comments or reviews to the site, you also grant ke.oraimo.com the right to use the name that you
          submit with any review, comment, or other Content, if any, in connection with such review, comment, or other
          content. You represent and warrant that you own or otherwise control all of the rights to the reviews,
          comments, and other Content that you post on this site and that use of your reviews, comments, or other
          Content by ke.oraimo.com will not infringe upon or violate the rights of any third party. You shall not use a
          false e-mail address, pretend to be someone other than yourself, or otherwise mislead ke.oraimo.com or third
          parties as to the origin of any Submissions or Content. ke.oraimo.com may, but shall not be obligated to
          remove or edit any Submissions (including comments or reviews) for any reason.<br><br><br>Order
          Cancelation<br><br><br>Please kindly note that only orders that are in the paid, processing or partially
          shipped status may be modified or canceled.<br><br><br><br>All other orders cannot be changed. We apologize
          for this inconvenience. In the event that you wish to cancel a shipped or packed order, please contact our
          dedicated support center for assistance as soon as possible.<br><br><br><br>If your order unfortunately cannot
          be canceled, we kindly suggest that you accept the package and refer to our warranty policy for more
          information.<br><br><br>Shipments<br><br><br>At ORAIMO all shipments are sent from different warehouses and
          are delivered duty unpaid. Consequently, any and all customs or import duties are charged once the parcel
          reaches its destination country. If any, these charges must be paid by the customers. Should the customers
          refuse the package due to import duties or taxes, they take full liability for all the cost involved in the
          process. Due to customs regulations, please note that ORAIMO cannot to declare purchased items as a gift or
          list an amount lower than the actual product price.<br><br><br><br>Customer Code of Conduct
          Policy<br><br><br>At ORAIMO customer satisfaction is our top priority.We strive to solve all customers
          problems in a professional and amicable way. However, we will not tolerate any unacceptable or unreasonable
          behavior towards our Customer Service Team members.<br><br><br>Unacceptable behavior directed towards Customer
          Service staff or ORAIMO may, for example, include any of the following:<br><br><br><br>-Aggressive, abusive
          and threatening behavior. Examples include: any and all direct or implied threats on any communication
          channel; intimidating language; personal and verbal abuse; sexist, racist, homophobic, or derogatory remarks;
          rudeness; inflammatory statements; swearing; and unsubstantiated allegations.<br><br><br>-Persistently making
          habitually demanding or vexatious complaints, despite the matter having been fully addressed; similarly,
          repeating complaints persisting despite reasonable and fair solutions being offered in accordance with our
          policies.<br><br><br>-Asking, expecting or demanding staff to breach established company policy guidelines,
          e.g. refund amount, time-frame, special compensation, etc.; similarly, seeking an unrealistic outcome beyond
          the scope of our own policies and procedures. By default, the refund amount cannot exceed the original order
          amount paid to ORAIMO.<br><br><br>-Repeatedly changing the nature (or focus) of a complaint or the desired
          outcome, part way, after a formal response has been provided.<br><br><br>-Excessive number of complaints
          compared to the total purchase value history.<br><br><br>For such behavior, complainants may be advised and
          formally notified of the following:<br>-Their language is considered offensive, abusive, threatening, and
          wholly unacceptable.<br><br><br>-They must refrain from using such language, intimidation, and
          threats.<br><br><br>-There will be no further exchange of correspondence on the matter if they persist with
          this behavior.<br><br><br>-ORAIMO reserves the right to no longer accept orders from the customer in the
          future without further notice.<br><br>Complaint Escalation process</p>
        <p
          style="margin: 0px 0px 1em; line-height: 1.4; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px;">
          <br>This process applies strictly to Customer Service issues. For separate legal issues such as copyright,
          please view our legal page here .<br><br><br>If the customer is dissatisfied with the solution offered by our
          Customer Service, the customer may contact our Ticket Supervisor by submitting a new ticket in "submit a
          formal complaint" section as follows:<br><br><br>Contact us &gt; Submit a ticket &gt; Select Warranty
          &amp;return &gt; Submit a formal complaint&nbsp;<br><br>We will respond to all complaint within 24 hours
          except on weekends and public holidays.<br><br><br>Copyright<br><br><br>All text, graphics, photographs or
          other images, button icons, audio clips, logos, slogans, trade names or word software and other contents on
          the website of ke.oraimo.com (collectively, "Content"), belongs exclusively to ke.oraimo.com or its
          appropriate content suppliers. You may not use, reproduce, copy, modify, transmit, display, publish, sell,
          license, publicly perform, distribute or commercially exploit any of the Content or otherwise dispose of any
          of the Content in a way not permitted by ke.oraimo.com, without ke.oraimo.com's express prior written consent.
          The use of data mining, robots, or similar data gathering and extraction tools on ke.oraimo.com as well as the
          use of ke.oraimo.com trademarks or service marks in meta-tags is strictly prohibited. You may view and use the
          Content only for your personal information and for shopping and ordering on the site and for no other purpose.
          The collection, arrangement, and assembly of all content on this site (the "Compilation") belong exclusively
          to ke.oraimo.com. You may not use ke.oraimo.com's Content or Compilation in any manner that disparages or
          discredits ke.oraimo.com or in any way that is likely to cause confusion or violation of any applicable laws
          or regulations. All software used on this Site (the "Software") is the property of ke.oraimo.com and/or its
          Software suppliers. The Content, the Compilation and the Software are all protected under state, national and
          international copyright laws. All rights not expressly granted are reserved by ke.oraimo.com. Violators will
          be prosecuted to the full extent of the law.<br><br><br>Intellectual Property Infringement
          Policy<br><br><br>It is the policy of ke.oraimo.com to take appropriate action where necessary to uphold and
          recognize all relevant State, Federal and International laws in connection with material that is claimed to be
          infringing any trademark, copyright, patent and all or any other Intellectual Property laws. If you are an
          intellectual property rights owner and you believe that ke.oraimo.com sells, offers for sale, or makes
          available goods and/or services that infringe your intellectual property rights, then send the following
          information in its entirety to&nbsp;<br><br><br>Information required<br><br><br>1. An electronic or physical
          signature of the person authorized to act on behalf of the owner of an exclusive that is allegedly
          infringed;<br>2. A description of the allegedly infringing work or material;<br>3. A description of where the
          allegedly infringing material is located on the site (product(s) URL);<br>4. Information reasonably sufficient
          to allow us to contact you, such as your address, telephone number and e-mail address;<br>5. A statement by
          you that you have a good faith belief that the disputed use of the material is not authorized by the copyright
          or other proprietary right owner, its agent, or the law;<br>6. Identification of the intellectual property
          rights that you claim are infringed by the Website(e.g. "XYZ copyright", "ABC trademark, Reg. No. 123456,
          registered 1/1/04",etc);<br>7. A statement by you that the above information and notification is accurate, and
          under penalty of perjury, that you are the copyright owner or authorized to act on behalf of the owner whose
          exclusive right is allegedly infringed.<br><br><br>Termination and Effect of Termination<br><br><br>In
          addition to any other legal or equitable remedies, ke.oraimo.com may, without prior notice to you, immediately
          terminate the Agreement or revoke any or all of your rights granted under this Agreement. Upon any termination
          of this Agreement, you shall immediately cease all access to and use of the site and ke.oraimo.com shall, in
          addition to any other legal or equitable remedies, immediately revoke all password(s), and account
          identification issued to you and deny your access to and use of this Site in whole or in part. Any termination
          of this Agreement shall not affect the respective rights and obligations (including without limitation,
          payment obligations) of the parties arising before the date of termination. /<br><br><br>Disclaimer and
          Limitation of Liability<br><br><br>Except as otherwise provided in the standard terms of sale that govern the
          same of each product on this site, this site, the products offered for sale on it and the transactions
          conducted through it are provided by ke.oraimo.com on an "as is" basis. ke.oraimo.com makes no presentations
          or warranties of any kind, express or implied, as to the operation of the site or the information, content,
          materials, or products included on this site except as provided here to the full extent permissible by
          applicable law, ke.oraimo.com disclaims all warranties, express or implied, including, but not limited to,
          implied warranties of merchantability and fitness for a particular purpose, noninfringement, title, quiet
          enjoyment, data accuracy, and system integration. This site may include inaccuracies, mistakes or
          typographical errors. ke.oraimo.com does not warrant that the content will be uniterrupted or error free. To
          the maximum extent permitted by law, ke.oraimo.com will not be liable for any damages of any kind arising from
          the use of this site, including, but not limited to,indirect incidental, punitive, exemplary, special, or
          consequential damages. To the maximum extent permitted by applicable law, ke.oraimo.com's total liability to
          you for any damages (regardless of the foundation for the action) shall not exceed in the aggregate the amount
          of fees actually paid by you to ke.oraimo.com during the month immediately preceding the act allegedly giving
          rise to ke.oraimo.com's liability.<br><br>ORAIMO and/or the seller will act according with the warranty as
          shown on the platform when and only when damage is in connection with the product and has valid and confirmed
          manufacturing defects. ORAIMO and/or the seller will not be held liable or reponsible for any damages
          resulting from customers improper use, personal negligence, and/or other reasons that do not attribute to
          product defects.<br><br><br>Order Acceptance<br><br><br>Please note that there may be certain orders that we
          are unable to accept and must cancel. ke.oraimo.com reserves the right, at sole discretion, to refuse or
          cancel any order for any reason. Some situations that may result in your order being canceled include
          limitations on quantities available for purchase, inaccuracies or errors in product or pricing information, or
          problems identified by our credit and fraud avoidance department. We may also require additional verifications
          or information before accepting any order. We will contact you if all or any portion of your order is canceled
          or if additional information is required to accept your order.<br><br><br>ORAIMO is not responsible for late
          deliveries for special occasions, such as birthdays, or other events. We encourage customers to place their
          order in advance to ensure there is enough time to receive their item.<br><br><br>We have informed our
          customers of the peak Christmas season in advance via banners and newsletters, and offered suggestions for the
          final order date and shipping methods for this period. We can therefore not be held responsible if an item
          does not arrive in time for Christmas.<br><br><br>All orders reported as "delivered" by shipping companies are
          considered delivered. ORAIMO cannot be made liable of non-delivery in this
          case.<br><br><br><br>Bugs<br><br><br>While ORAIMO works hard to ensure a correct working of the website in
          order to provide to customers the best shopping experience, there might be occasions in which bugs may affect
          the system. Customers cannot obtain any benefits from such bugs, which are considered unfair to any and all
          effects, and customers will have to immediately give them up.<br><br><br>User account<br><br><br>For safety
          and security, each customer is allowed to create only one registered account by default. For customers who
          attempt to create several accounts, ORAIMO reserves the right to suspend accounts without further
          notice.<br><br><br>Both parties agree that, following order dispatch, transportation is the sole
          responsibility of the third-party logistics company. During this stage, full ownership of the product(s)
          belongs to the buyer; all associated liability and risks during transportation shall be borne by the
          buyer.<br><br><br><br>In accordance with Customs regulations customers must provide valid and accurate data .
          All consignee names, address and payers name should be valid. Certain countries request that the consignee
          submit their ID or passport to clear the package or for payment verification purposes. It is the customers
          sole responsible for the accuracy of data that they provide to us. Should any information be incorrect and
          prevent any shipment or deliveries or customs clearance, we will not held responsible and will not offer any
          compensation in such cases.<br><br><br><br>ORAIMO will always comply with the law, and we kindly remind users
          to do the same. As the importer customers are responsible to comply with all laws and regulations in their own
          countries. Please refer to our privacy policy for more information.<br><br><br><br><br>Typographical
          Errors<br><br><br>While ke.oraimo.com strives to provide accurate product and pricing information, pricing or
          typographical errors may occur. ke.oraimo.com cannot confirm the price of an item until after you order. In
          the event that an item is listed at an incorrect price or with incorrect information due to an error in
          pricing or product information, ke.oraimo.com shall have the right, at our sole discretion, to refuse or
          cancel any orders placed for that item. In the event that an item is mis-priced, ke.oraimo.com may, at our
          discretion, either contact you for instructions or cancel your order and notify you of such
          cancellation.<br><br><br>Applicable Law<br><br><br>These conditions are governed by and construed exclusively
          under law without regard to conflicts of laws principles.<br><br><br>Links<br><br><br>This site may contain
          links to other sites on the Internet that are owned and operated by third parties. You acknowledge that
          ke.oraimo.com is not responsible for the operation of or content located on or through any such
          site.<br><br><br>Shipping<br><br><br>ORAIMO ships from different warehouses. For orders with more than 1 item,
          we may split your order into several packages according to stock levels at our own discretion for more
          information please check our terms and conditions.Thank you for your understanding.<br><br><br>Orders that do
          not have shipping insurance will not be the responsibility of ORAIMO in the event that there is an issue
          during the shipping process.<br><br><br>Whatever the customer orders is what we ship. We can not be held
          liable for the customer receiving the wrong item if they placed the wrong order.<br><br><br>If a delivery
          fails for any reason and the address sent to was the correct address as provided by the customer, ORAIMO
          cannot be held liable if a package is returned to us.<br><br><br>Remedies<br><br><br>You agree that
          ae.oraimo.com's remedy at law for any actual or threatened breach of this Agreement would be inadequate and
          that ke.oraimo.com shall be entitled to specific performance or injunctive relief, or both, in addition to any
          damages that ke.oraimo.com may be legally entitled to recover, together with reasonable expenses of any form
          of dispute resolution, including, without limitation, attorneys' fees.<br><br><br>No right or remedy of
          ke.oraimo.com shall be exclusive of any other, whether at law or in equity, including, without limitation,
          damages injunctive relief, attorneys' fees and expenses.<br><br><br>No instance of waiver by ke.oraimo.com of
          its rights or remedies under these terms and conditions shall imply any obligation to grant any similar,
          future or other waiver.
        </p>
      </div>
    </main>
  </div>

  <script>
    var JS_DEFAULT_CURRENCY = 'KES';
    var JS_CURRENT_CURRENCY = 'KES';
    var JS_CURRENCY_GROUP = { "KES": { "exchange_rate": 1, "round_type": 1, "round_type_name": "round", "symbol": "KES", "unit_amount": 1, "precision": 0, "calc_precision": 0 }, "USD": { "exchange_rate": 0.00668, "round_type": 1, "round_type_name": "round", "symbol": "$", "unit_amount": 0.01, "precision": 2, "calc_precision": 2 } };
    var JS_CURRENCY_SORT = ["KES", "USD"];

    var JS_DEFAULT_LANGUAGE = 'en';
    var JS_CURRENT_LANGUAGE = 'en';
    var JS_LANGUAGE_GROUP = { "en": { "name": "English", "direction": "ltr" } };
    var JS_LANGUAGE_SORT = ["en"];

    var JS_ELAPSED = 0.026513;
    var IMAGE_URL = 'https://cdn-img.oraimo.com/';

    var GOOGLE_RECAPTCHA = '6Lcu3zcnAAAAABp-6-Z4txaYgu4-BMUY2fAXhTt5';
    var SOCIALITE = { "facebook": { "clientId": "1623446278157561", "redirectUri": "https:\/\/ke.oraimo.com\/api\/socialite\/callback\/facebook" }, "google": { "clientId": "274681318019-l7hdt0o4k63m2trilun79ipf22ggb52d.apps.googleusercontent.com", "redirectUri": "https:\/\/ke.oraimo.com\/api\/socialite\/callback\/google" } };
  </script>

  <footer id="footer" class="site-footer">
    <div class="footer-follow-us">
      <h4>FOLLOW US</h4>
      <a href="https://www.instagram.com/oraimo.kenya/">
        <span class="icon icon-instagram"></span>
      </a>
      <a href="https://www.facebook.com/oraimoKenya">
        <span class="icon icon-facebook"></span>
      </a>
      <a href="https://www.youtube.com/user/OraimoMate">
        <span class="icon icon-youtube"></span>
      </a>
      <a href="https://twitter.com/oraimokenya">
        <span class="icon icon-twitter"></span>
      </a>
    </div>
    <div class="footer-container">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-0' }" @click="toggleNav('nav-0')">Customer
            Service:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="#" class="footer-nav-link">Service Hours</a>
              <p class="footer-nav-text">Monday - Friday 9AM to 6PM</p>
            </li>
            <li>
              <a href="#" class="footer-nav-link">Customer Service</a>
              <p class="footer-nav-text">Phone: +0721 899 999</p>
              <p class="footer-nav-text">Whatsapp: 0728 810 810 / 0797 288 388</p>
              <p class="footer-nav-text">Email: Care.ke@the-jujari.com</p>
            </li>
          </ul>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-1' }" @click="toggleNav('nav-1')">About
            oraimo:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="about-oraimo.html" class="footer-nav-link">About Us</a>
            </li>
            <li>
              <a href="where-to-buy.html" class="footer-nav-link">Where to Buy</a>
            </li>
            <li>
              <a href="contact-us.html" class="footer-nav-link">Contact Us</a>
            </li>
          </ul>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-2' }" @click="toggleNav('nav-2')">Terms:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="oraimo-warranty.html" class="footer-nav-link">Warranty</a>
            </li>
            <li>
              <a href="shipping-%26-delivery-policy.html" class="footer-nav-link">Shipping &amp; Delivery</a>
            </li>
            <li>
              <a href="return-refund-policy.html" class="footer-nav-link">Return &amp; Refund Policy</a>
            </li>
            <li>
              <a href="terms-of-service.html" class="footer-nav-link">Terms &amp; Conditions</a>
            </li>
            <li>
              <a href="privacy-policy.html" class="footer-nav-link">Privacy Policy</a>
            </li>
          </ul>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-title" :class="{ show: viewNav === 'nav-3' }" @click="toggleNav('nav-3')">Get Help:::</a>
          <ul class="footer-nav-sub">
            <li>
              <a href="track-order.html" class="footer-nav-link">Track Order</a>
            </li>
            <li>
              <a href="visit-carlcare.html" class="footer-nav-link">Visit Carlcare</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <img alt="araimo Logo" src="../img/logo2.png">
      <p>© 2013-2024 TheJUJARICopyright.</p>
    </div>
    <button class="footer-backtotop" @click="handleBackToTop" :class="{ show: viewBackToTop }">
      <svg viewbox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
        <path d="M52 91.35V20.111l26.651 27.046 5.698-5.615L48.001 4.65l-36.35 36.892 5.698 5.615L44 20.111V91.35z"
          fill="white"></path>
      </svg>
    </button>
  </footer>


  <script src="../lib/vue.js"></script>
  <script src="../lib/axios.js"></script>
  <script src="../lib/vue-lazyload.js"></script>
  <script>Vue.use(VueLazyload)</script>
  <script src="../lib/vue-i18n.js"></script>
  <script src="../dist/site/index.js?v=2024030402"></script>


</body>

</html>